<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-the-data" data-toc-modified-id="Import-the-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import the data</a></span></li><li><span><a href="#Enconding-categoricals" data-toc-modified-id="Enconding-categoricals-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Enconding categoricals</a></span></li><li><span><a href="#Train-test-split" data-toc-modified-id="Train-test-split-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Train-test split</a></span></li><li><span><a href="#Data-transformation" data-toc-modified-id="Data-transformation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data transformation</a></span></li><li><span><a href="#Fit-the-model" data-toc-modified-id="Fit-the-model-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Fit the model</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Get-Dummies-encoding" data-toc-modified-id="Get-Dummies-encoding-5.0.0.1"><span class="toc-item-num">5.0.0.1&nbsp;&nbsp;</span>Get Dummies encoding</a></span></li></ul></li><li><span><a href="#Ordinal-encoding-with-mapping" data-toc-modified-id="Ordinal-encoding-with-mapping-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Ordinal encoding with mapping</a></span></li></ul></li></ul></li></ul></div>

In [253]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OrdinalEncoder
import pickle
import helper as func
from sklearn.metrics import mean_squared_error
import math

## Import the data

In [254]:
data = pd.read_csv('df_model1.csv')

In [352]:
df_eu = pd.read_csv('/Users/ritasilva/Final-Project-Major-Tom-To-GAP-Control/df_model_eu.csv')

In [354]:
df_eu = df_eu[['country', 'experience_ml', 'age','role_group','gender','salary_avg']]

In [355]:
df_eu.to_csv('df_model_strm.csv')

In [353]:
df_eu.drop['']

,Unnamed: 0,age,gender,country,education,experience_prog,experience_ml,industry,company_size_g,team_size_g,role_group,programming_lang_c,salary_avg
0,10,4,0,10,4,4,4,1,1,0,0,4,103.062890
1,11,7,0,14,2,5,1,8,2,0,2,2,53.329616
2,17,2,1,6,3,2,0,0,0,0,1,2,141.718289
3,24,2,0,5,3,1,0,8,0,0,3,2,156.159535
4,38,0,0,0,2,2,0,0,0,3,1,2,27.020808

In [255]:
data.head()

,Unnamed: 0,age,gender,country,education,experience_prog,programming_lang_c,experience_ml,industry,company_size_g,team_size_g,role_group,salary_avg
0,10,35-39,Man,Greece,Doctoral degree,10-20 years,4,4-5 years,Academics/Education,Medium,Small,Data Scientist,12500.0
1,11,50-54,Man,Belgium,Bachelor’s degree,20+ years,2,1-2 years,Energy/Mining,Large,Small,Data Analyst,2500.0
2,16,25-29,Woman,Poland,Master’s degree,3-5 years,2,Under 1 year,Computers/Technology,Small,Small,Data Engineer,27500.0
3,25,25-29,Man,Italy,Master’s degree,1-3 years,2,Under 1 year,Energy/Mining,Small,Small,Other,35000.0
4,36,35-39,Woman,Russia,I prefer not to answer,1-3 years,2,No experience,Academics/Education,Large,Small,Data Scientist,500.0

In [315]:
data['age'].value_counts()

25-29    524
30-34    495
35-39    390
40-44    311
45-49    268
22-24    217
50-54    184
55-59    117
18-21     83
Name: age, dtype: int64

In [256]:
data = data.drop(['Unnamed: 0'], axis=1)

In [257]:
data.shape

(2589, 12)

## Enconding categoricals

In [258]:
X = data.drop('salary_avg', axis=1)
y = data['salary_avg']

In [259]:
enc = OrdinalEncoder()
X = enc.fit_transform(X)

## Train-test split

In [260]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

## Data transformation

In [240]:
#transformer = StandardScaler()
#transformer.fit(X_train)

# saving in a pickle
#with open('std_transformer.pickle', 'wb') as file:
    #pickle.dump(transformer, file)
    
# loading from a pickle  
#with open('std_transformer.pickle', 'rb') as file:
    #loaded_transformer = pickle.load(file)

#X_train = loaded_transformer.transform(X_train)
#X_test = loaded_transformer.transform(X_test)

It does not improve the model

## Fit the model

RandomForest Regressor without hyperparameters tunning

In [273]:
rf = RandomForestRegressor(max_depth=2, random_state=0)
rf.fit(X_train, y_train)
print(rf.score(X_test, y_test))

0.10202177129776968

In [274]:
from sklearn.model_selection import cross_val_score
rf = RandomForestRegressor(max_depth=2, random_state=0)
cross_val_scores = cross_val_score(rf, X_train, y_train, cv=10)
print(cross_val_scores)
#print(np.mean(cross_val_scores))

[0.21025714 0.14302505 0.15140786 0.21710601 0.12022528 0.17062121
 0.13491726 0.11552797 0.17975827 0.14478637]

In [275]:
rf = RandomForestRegressor(random_state=0, max_features='sqrt', min_samples_leaf=1,min_samples_split=2, max_depth=12, n_estimators=500)
clf.fit(X_train, y_train)
print(clf.score(X_test, y_test))

0.2718680010584792

In [276]:
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [277]:
MSE= mean_squared_error(y_test, y_pred, squared=False)
RMSE = math.sqrt(MSE)
print(RMSE)

165.4115817850615

In [270]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [59, 80, 100, 200, 400],
    'min_samples_split': [1,2,4, 5, 10, 15, 20, 30],
    #'min_leaf_size': [50, 60, 70],
    'min_samples_leaf' : [1, 2, 3, 4, 5, 7, 9],
    'max_depth': [8, 12, 14, 16, 18, 20],
    'max_features': ['sqrt', 'auto', 'log2']
#    'max_samples' : ['None', 0.5]
    }
clf = RandomForestRegressor(random_state=100)

grid_search = GridSearchCV(clf, param_grid, cv=5,return_train_score=True,n_jobs=-1)
grid_search.fit(X_train,y_train)
grid_search.best_params_ #To check the best set of parameters returned

{'max_depth': 20,
 'max_features': 'auto',
 'min_samples_leaf': 2,
 'min_samples_split': 10,
 'n_estimators': 400}

In [279]:
rf1 = RandomForestRegressor(random_state=0, max_features='auto', min_samples_leaf=2, min_samples_split=10, max_depth=20, n_estimators=400)
rf1.fit(X_train, y_train)
print(clf.score(X_test, y_test))

0.2718680010584792

In [280]:
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [281]:
MSE= mean_squared_error(y_test, y_pred, squared=False)
RMSE = math.sqrt(MSE)
print(RMSE)

166.40748615391155

##### Get Dummies encoding

In [305]:
X2 = data.drop('salary_avg', axis=1)
y2 = data['salary_avg']

In [306]:
X2 = pd.get_dummies(X2)

In [307]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.20, random_state=42)

In [308]:
rf = RandomForestRegressor(max_depth=2, random_state=0)
rf.fit(X2_train, y2_train)
print(rf.score(X2_test, y2_test))

0.09696672147341523

In [309]:
rf.fit(X2_train, y2_train)
y2_pred = rf.predict(X2_test)

In [310]:
from sklearn.metrics import mean_squared_error
MSE= mean_squared_error(y2_test, y2_pred, squared=False)
import math
RMSE = math.sqrt(MSE)
print(RMSE)

176.7286441305606

In [323]:
rf= RandomForestRegressor(random_state=0, max_features='auto', min_samples_leaf=2, min_samples_split=10, max_depth=20, n_estimators=400)
rf.fit(X2_train, y2_train)
print(rf.score(X2_test, y2_test))

0.3297252994104225

In [325]:
rf.fit(X2_train, y2_train)
y2_pred = rf.predict(X2_test)

In [326]:
from sklearn.metrics import mean_squared_error
MSE= mean_squared_error(y2_test, y2_pred, squared=False)
import math
RMSE = math.sqrt(MSE)
print(RMSE)

164.03790480705223

It performs better than ordinal encoding

#### Ordinal encoding with mapping

I will try mapping the categorical taking into consideration the weights of each variable

In [316]:
ordinal_cols_mapping = [{
    "col": "age",
    "mapping": {
        '18-21': 0,
        '22-24': 1,
        '25-29': 2,
        '30-34': 3,
        '35-39': 4,
        '40-44': 5,
        '45-49': 6,
        '50-54': 7,
        '55-59': 8,   
    }}, {
    "col": "gender",
    "mapping": {
        'Man': 0,
        'Woman': 1,
        'Other': 2
    }}, {        
    "col": "education",
    "mapping": {
        'High school': 0,
        'Some college': 1,
        'Bachelor’s degree': 2,
        'Master’s degree': 3,
        'Doctoral degree': 4,
        'Professional doctorate': 5
    }}, {
    "col": "experience_prog",
    "mapping": {
        '< 1 years':0, 
        '1-3 years':1,
        '3-5 years':2,
        '5-10 years':3,
        '10-20 years':4,
        '20+ years':5 
    }}, {
    "col": "experience_ml",
    "mapping": {
        'Under 1 year':0, 
        '1-2 years':1,
        '2-3 years':2,
        '3-4 years':3,
        '4-5 years':4,
        '5-10 years':5,
        '10-20 years':6,
        '20 or more years':7
    }}, {
    "col": "company_size_g",
    "mapping": {
        'Small':0, 
        'Medium':1,
        'Large':2
    }}, {
    "col": "industry",
    "mapping": {
        'Computers/Technology': 0,
        'Academics/Education': 1,
        'Accounting/Finance': 2,
        'Other': 3,
        'Medical/Pharmaceutical': 4,
        'Manufacturing/Fabrication': 5,
        'Government/Public Service': 6,
        'Online Service/Internet-based Services': 7,
        'Energy/Mining': 8,
        'Retail/Sales': 9,
        'Insurance/Risk Assessment': 10,
        'Broadcasting/Communications': 11,
        'Shipping/Transportation': 12,
        'Marketing/CRM': 13,
        'Online Business/Internet-based Sales': 14,
        'Military/Security/Defense': 15,
        'Non-profit/Service': 16,
        'Hospitality/Entertainment/Sports': 17
       
    }}, {
    "col": "country",
    "mapping": {
        'Russia': 0,
        'UK': 1,
        'Spain': 2,
        'Germany': 3,
        'France': 4,
        'Italy': 5,
        'Poland': 6,
        'Netherlands': 7,
        'Ukraine': 8,
        'Portugal': 9,
        'Greece': 10,
        'Ireland': 11,
        'Sweden': 12,
        'Switzerland': 13,
        'Belgium': 14,
        'Romania': 15,
        'Czech Republic': 16,
        'Denmark': 17,
        'Austria': 18,
        'Belarus': 19
    }}, {
    "col": "role_group",
    "mapping": {
        'Data Scientist':0, 
        'Data Engineer':1,
        'Data Analyst':2,
        'Other': 3
    }}, {
    "col": "team_size_g",
    "mapping": {
        'Small':0, 
        'Medium':1,
        'Large':2,
        'No team': 3
    }}
]

In [317]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(mapping = ordinal_cols_mapping, 
                             return_df = True)

In [318]:
X3 = data.drop('salary_avg', axis=1)
y3 = data['salary_avg']

In [319]:
X3 = encoder.fit_transform(X3)

In [320]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.20, random_state=42)

In [322]:
rf1 = RandomForestRegressor(max_depth=2, random_state=0)
rf1.fit(X3_train, y3_train)
print(rf1.score(X3_test, y3_test))

0.12301509860603876

In [327]:
rf.fit(X3_train, y3_train)
y3_pred = rf.predict(X3_test)

In [328]:
from sklearn.metrics import mean_squared_error
MSE= mean_squared_error(y3_test, y3_pred, squared=False)
import math
RMSE = math.sqrt(MSE)
print(RMSE)

167.07083746126747

In [329]:
rf= RandomForestRegressor(random_state=0, max_features='auto', min_samples_leaf=2, min_samples_split=10, max_depth=20, n_estimators=400)
rf.fit(X3_train, y3_train)
print(rf.score(X3_test, y3_test))

0.27876204835984897

In [330]:
rf.fit(X3_train, y3_train)
y3_pred = rf.predict(X3_test)

In [331]:
from sklearn.metrics import mean_squared_error
MSE= mean_squared_error(y3_test, y3_pred, squared=False)
import math
RMSE = math.sqrt(MSE)
print(RMSE)

167.07083746126747

In [332]:
import numpy as np
clf.fit(X3_train, y3_train)
X3_train.head()
feature_names = X3_train.columns
feature_names = list(feature_names)

df_fs = pd.DataFrame(list(zip(feature_names, clf.feature_importances_)))
df_fs.columns = ['columns_name', 'score_feature_importance']
df_fs.sort_values(by=['score_feature_importance'], ascending = False)

          columns_name  score_feature_importance
2              country                  0.248365
6        experience_ml                  0.179692
0                  age                  0.129677
4      experience_prog                  0.113853
7             industry                  0.099110
9          team_size_g                  0.050316
8       company_size_g                  0.048785
10          role_group                  0.048519
3            education                  0.036549
5   programming_lang_c                  0.032763
1               gender                  0.012372

It's interesting to see that gender is not an important feature to predict the salary